@use '@scss/variables' as *;
@use '@scss/media' as *;

.hero {
  padding: 60px 0;

  @include tablet {
    padding: 40px 0;
  }

  @include mobile {
    padding-bottom: 70px;
  }

  &__head-group {
    margin-bottom: 24px;
    font-family: $second-family;
  }

  &__title {
    @include responsive-font-size(80, 120, 1024, 1440);
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $green;

    @include laptop {
      @include responsive-font-size(58, 80, 768, 1024);
    }

    @include tablet {
      @include responsive-font-size(40, 58, 320, 768);
    }
  }

  &__subtitle {
    font-style: italic;
    @include responsive-font-size(32, 40, 1024, 1440);
    text-align: right;
    color: $dark;

    @include laptop {
      @include responsive-font-size(24, 32, 768, 1024);
    }

    @include tablet {
      @include responsive-font-size(18, 24, 320, 768);
    }
  }

  &__group-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(24 / 1300 * 100%);
  }

  &__image {
    object-fit: cover;
    width: calc(284 / 1300 * 100%);
    aspect-ratio: 284 / 352;
    overflow: hidden;

    &_left {
      border-radius: 400px 400px 400px 0;
    }

    &_center {
      width: calc(680 / 1300 * 100%);
      aspect-ratio: 680 / 588;
    }

    &_right {
      border-radius: 400px 0 400px 400px;
    }
  }
}