@use '../../scss/variables' as *;
@use '../../scss/media' as *;

.subscribe {
  padding: 80px 0 140px;

  @include tablet {
    padding: 60px 0 100px;
  }

  &__form {
    position: relative;
    margin: 0 auto;
    max-width: 524px;
    width: 100%;
    height: 40px;
  }

  &__input {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border: 1px solid transparent;
    padding: 8px 56px 8px 16px;
    background-color: $white;
    outline: none;
    cursor: pointer;

    &::placeholder {
      color: rgba($dark, .3);
    }

    &:hover {
      background-color: $footer;
    }

    &:focus-visible {
      border-color: $light-orange;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    outline: none;
    border-radius: 32px;
    background: $light-orange;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}