@use '@scss/variables' as *;
@use '@scss/media' as *;

:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  background-color: $bg;
  font-family: $font-family;
  font-size: 18px;
  line-height: 1.3;
  color: $dark;

  @include mobile {
    font-size: 14px;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  cursor: pointer;
}

a, button, input, label, textarea {
  transition: .36s;
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
  margin: 0;
}

fieldset {
  padding: 0;
  border: none;
}

iframe {
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
  appearance: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1354px;
  padding: 0 27px;
  margin: 0 auto;

  @include tablet {
    max-width: 694px;
  }

  @include mobile {
    padding: 0 14px;
  }
}

.section-title {
  margin-bottom: 40px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: $green;

  @include tablet {
    margin-bottom: 24px;
    font-size: 32px;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  &__text {
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    font-size: 30px;
  
    @include laptop {
      font-size: 24px;
    }

    @include tablet {
      font-size: 18px;
      max-width: 90%;
    }
  }
}