@use '@scss/variables' as *;
@use '@scss/media' as *;

.preload {
  display: block;
  border: 5px solid $light-orange;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.5s linear infinite;
  margin: 0 auto;

  @include mobile {
    padding-top: 50px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}